.App {
  background-color: #2f3e46;
  height: 100vh;
  display: grid;
  justify-items: center;
}

.message {
  color: #cad2c5;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding: 20px;
}

button {
  background-color: #cad2c5;
  margin-bottom: 50px;
  color: #2f3e46;
}
